.bio-page-headline {
  width: 900px;
  margin: auto;
  margin-top: 50px;
}

@media screen and (max-width: 800px) { /* for smartphones and tablets */
  .bio-page-headline {width: 1000px; margin-top: 50px;}
}

.bio-page-headline h2 {
  text-align: center;
  font-size: 50px;
}

/* .big-button-container, .big-button, .big-button:hover: see master */

.resume {
  margin-bottom: 100px;
}

.bio-page-section-container {
  text-align: center;
  width: 900px;
  margin: 0px auto;
}

.bio-page-section {
  border: 1px solid rgb(73, 82, 70);
  border-radius: 5px;
  max-width: 800px;
  margin: 0px auto 50px auto;
}

/* .bio-page-section h3: see master */

.bio-page-section p {
  padding: 0px 0px 10px 10px;
  text-align: center;
}

.bio-page-section span {
  font-weight: bolder;
}

.bio-page-section-italic {
  font-style: italic;
}

@media screen and (max-width: 800px) { /* for smartphones and tablets */
  .bio-page-section-container {width: 1000px;}
}
