#mission {
  display: block;
  font-size: 24px;
  font-style: italic;
  margin-bottom: 80px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 600px;
}

.page-upper-section {
  margin-top: 50px;
  margin: auto;
  width: 900px;
}

@media screen and (max-width: 800px) { /* for smartphones and tablets */
  .page-upper-section {
    width: 1000px
  }
}

.two-article-control {
  margin: auto;
  position: relative;
  text-align: center;
  width: 900px;
}

.main-article-half-width {
  border-radius: 5px;
  border: 1px solid rgb(73, 82, 70);
  display: inline-block;
  width: 300px;
}

.main-article-half-width p {
  max-width: 400px;
  padding: 30px 30px 30px 15px;
  text-align: center;
}

.main-article-half-width h3, h4 {
  text-align: center;
}

.main-article-half-width h3 {
  font-size: 30px;
  font-weight: bold;
  padding: 10px 0px;
}

.main-article-half-width h4 {
  font-size: 22px;
  padding: 20px 0px 30px 0px;
}

.main-article-half-width img {
  display: block;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
}

.proj1 {
  margin-right: 20px;
}

.proj2 {
  margin-left: 20px;
}

@media screen and (max-width: 800px) { /* for smartphones and tablets */
  .two-article-control {
    width: 1000px;
  }

  .main-article-half-width {
    display: block;
    margin: 0px auto;
    width: 800px;
  }

  .main-article-half-width p {
    margin: 10px auto;
    text-align: center;
  }

  .proj2 {
    margin-top: 50px;
  }

}

/* .big-button-container, .big-button, .big-button:hover: see master */

.page-lower-section {
  border-radius: 5px;
  border: 1px solid rgb(73, 82, 70);
  bottom: 100px;
  display: inline-block;
  margin-right: 20px;
  position: relative;
}

.page-lower-section h3 {
  font-size: 30px;
  font-weight: bold;
  padding: 10px 0px;
  text-align: center;
}

.page-lower-section p {
  max-width: 400px;
  padding: 10px;
  padding-bottom: 30px;
  text-align: center;
}

#fig-main {
  display: inline-block;
  margin-left: 20px;
}

#fig-main figcaption {
  font-size: 20px;
  font-style: italic;
  padding: 10px;
  text-align: center;
}

.bottom-elements-control {
  margin: auto;
  position: relative;
  text-align: center;
  width: 900px;
}

@media screen and (max-width: 800px) { /* for smartphones and tablets */
  .bottom-elements-control {
    width: 1000px;
  }

  .page-lower-section {
    bottom: 0;
    margin: 0px auto;
  }

  #fig-main {
    display: none;
  }

}

#book-img {
  height: 300px;
}
