/* elements common to all pages */
html {
  background: linear-gradient(to bottom, white, rgb(203, 202, 217));
  background-size: cover;
  font-family: 'Open Sans', sans-serif;
}

@media screen and (max-width: 800px) { /* for smartphones and tablets */
html {min-height: 2000px; /* to get rid of white space in some mobile renderings of site */}
}

a:link {
  text-decoration: none;
  color: rgb(64, 37, 226);
}

a:visited {
  color: rgb(232, 44, 219);
}

a:hover {
  color: red;
  font-style: italic;
}

.border-test {
  border: 1px dotted red; /* temp */
}

.header-each-page {
  background: linear-gradient(to bottom, rgb(127, 179, 247), rgb(240, 243, 247));
}

.header-each-page h1 {
  text-align: center;
  font-size: 60px;
  padding-top: 20px;
  font-weight: bold;
}

@media screen and (max-width: 800px) { /* for smartphones and tablets */
  .header-each-page {text-align: center; width: 1000px;}
}

.nav-bar {
  float: right;
  display: inline-block;
  margin-top: 20px;
}

.nav-bar-list {
  list-style-type: none;
  margin-top: 80px;
}

.nav-bar-list > li {
  display: inline-block;
  margin: 15px;
  padding: 5px;
}

@media screen and (max-width: 800px) { /* for smartphones and tablets */
  .nav-bar {display: block; float: none;}
  .nav-bar-list > li {display: block; margin: 35px 15px;}
}

.nav-bar-list > li:hover {
  border: 1px solid rgb(73, 82, 70);
  border-radius: 5px;
  background-color: white;
}

.nav-bar-list li a {
  text-transform: uppercase;
  color: black;
  font-size: 22px;
}

.nav-bar-list li a:hover {
  font-style: normal !important;
  color: rgb(32, 40, 148);
}

.nav-bar-list li a:visited {
  color: rgb(64, 75, 75);
}

.nav-bar ul.nav-bar-list li.nav-bar-list-selected {
  border: 1px solid rgb(73, 82, 70);
  border-radius: 5px;
  background-color: white;
}

.header-photo {
  max-height: 250px;
  max-width: 250px;
  margin-left: 50px;
  margin-top: 20px;
  border-radius: 50%;
}

@media screen and (max-width: 800px) { /* for smartphones and tablets */
  .header-photo {margin: 80px 0px 40px 50px;}
}

.footer-each-page {
  clear: both;
  text-align: center;
  border: 1px solid rgb(73, 82, 70);
  border-radius: 5px;
  padding: 10px 0px 10px 0px;
  background-color: rgb(240, 236, 228);
  margin-top: 80px;
}

.footer-each-page img {
  height: 40px;
  width: 40px;
  padding: 0px 100px;
} /* try to make the icons in the foooter get bigger when I hover over them */

@media screen and (max-width: 800px) { /* for smartphones and tablets */
  .footer-each-page {max-height: 50px; width: 800px; margin-left: 100px; margin-top: 20px;}
  .footer-each-page img {padding: 0px 20px;}
}

/* repeated elements from other pages */

.big-button-container {
  margin: 60px auto;
  text-align: center;
  width: 900px;
}

.big-button {
  width: 200px;
  padding: 15px;
  border-radius: 30px;
  background-color: rgb(228, 226, 237);
  font-size: 20px;
}

@media screen and (max-width: 800px) { /* for smartphones and tablets */
  .big-button-container {width: 1000px;}
}

.big-button:hover {
  background-color: rgb(30, 20, 219);
  color: white;
  cursor: pointer;
}

.bio-page-section h3, .project-page-section h3 {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  padding: 20px 0px 40px 0px;
}
