.project-page-headline {
  margin-bottom: 60px;
  margin-top: 50px;
  margin: auto;
  width: 900px;
}

@media screen and (max-width: 875px) { /* for smartphones and tablets */
  .project-page-headline {
    margin-bottom: 100px;
    width: 1000px;
  }

}

.project-page-headline h2 {
  font-size: 50px;
  text-align: center;
}

.project-page-headline img {
  display: block;
  height: 80px;
  margin: 40px auto 30px auto;
  position: relative;
  width: 80px;
}

.project-page-headline p {
  text-align: center;
}

.project-page-section {
  border-radius: 5px;
  border: 1px solid rgb(73, 82, 70);
  margin: 100px auto 50px auto;
  max-width: 875px;
  text-align: center;
}

/* .project-page-section h3: see master */

.project-page-section img {
  height: 200px;
  /*margin: 0px 0px 30px 20px;*/
}

.project-page-section p {
  padding-bottom: 30px;
  padding-top: 30px;
  margin: auto;
  text-align: center;
  width: 400px;
}

@media screen and (max-width: 875px) { /* for smartphones and tablets */
  .project-page-section {
    margin-left: 100px;
    margin-right: 0px;
    margin-top: 40px;
    width: 800px;
  }

}
