.project-page-headline {
  width: 900px;
  margin: auto;
  margin-top: 50px;
}

@media screen and (max-width: 800px) { /* for smartphones and tablets */
  .project-page-headline {width: 1000px; margin-top: 40px;}
}

.project-page-headline h2 {
  text-align: center;
  font-size: 50px;
}

.project-page-headline img {
  height: 80px;
  width: 80px;
  position: relative;
  display: block;
  margin: 40px auto 80px auto;
}

.project-page-section {
  text-align: center;
  border: 1px solid rgb(73, 82, 70);
  border-radius: 5px;
  max-width: 800px;
  margin: 0px auto 50px auto;
}

/* .project-page-section h3: see master */

.project-page-section img {
  height: 200px;
  /*margin: 0px 0px 30px 20px;*/
}

.project-page-section p {
  width: 400px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

@media screen and (max-width: 800px) { /* for smartphones and tablets */
  .project-page-section {width: 800px; margin-left: 100px; margin-right: 0px; margin-top: 40px;}
}
